.signin-container {
     
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .signin-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
  }
  
  .signin-box h2 {
    margin-bottom: 20px;
  }
  
  .signin-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signin-box button {
    width: 100%;
    padding: 10px;
    background: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .signin-box button:hover {
    background: #e65c00;
  }
  
  .signin-box p {
    margin-top: 15px;
  }
  